@import url(./media-search.css);
/*.left-bg{background: url(../img/WOW.jpeg) no-repeat;background-size:auto 100% ;background-position: 10%;}
.right-bg{background: url(../img/WOW.jpeg) no-repeat;background-size:auto 100% ;background-position: 90%;}
*/
*,ol, ul, dl,p{margin:0;padding:0}

li{list-style: none;}
.ant-layout-header{padding:0}
/*复用图标模块*/
.gg{background-size: cover;background-image: url(../img/gg.png) ;width:38px;height:22px;}
.prev,.next{font-size:30px;position: absolute;top:calc(50% - 35px);line-height: 70px;background:rgba(0,0,0,.6);color:#fff;cursor: pointer;}
.prev{left:0;border-radius: 0 2px 2px 0;}
.next{right:0;border-radius:2px  0 0 2px ;}
.watch-later{opacity: 0;;background-size: contain;background-image: url(../img/watch-later.png) ;width:28px;height:28px;border-radius: 2px;position: absolute;bottom:8px;right:8px;}
.watch-later-tip .ant-tooltip-inner {
     min-width: auto; 
    min-height: auto; 
    padding: 4px 8px; 
    border-radius: 4px;
    font-size: 12px;
}
.watch-later-tip .ant-tooltip-arrow{display: none;}

/*复用图标模块结束*/

.flex{display:flex;justify-content: center;align-items: center;}

.header-top{background: url(../img/header.png) no-repeat ;height:180px;position: relative;}
.header-top-mask{z-index: 0;top:0;z-index: 0;position: absolute;width:100%;height:100%;background: linear-gradient(rgba(0,0,0,.4),transparent);}
.header-topMenu{position: relative;z-index: 1;padding:10px 24px;height:54px;line-height:30px;color:#fff;display:flex;justify-content: spacdwwe-between;}
.header-topMenu a{color:#fff}
.header-bottomMenu a{color:#212121;cursor: pointer;}
.header-bottomMenu a:hover{color:#00a1d6}
.header-bottomMenu em{background: #73c9e5;font-size: 12px;font-style: normal;color: #fff;width:32px;border-radius:2px;transform: scale(.85);text-align: center;display: inline-block;}
.header-bottomMenu{line-height:normal;list-style: none; height:108px;background-color: #fff;padding:20px 0;display:flex}
.header-bottomMenu .leftMenu ul{width:100%;justify-content: space-around ;display: flex;align-items: center;}
.header-bottomMenu .leftMenu li {width:50px;height:68px;justify-content: center;align-items: center;display: flex;}
.header-bottomMenu .leftMenu a{display: flex;flex-direction: column;height:100%;justify-content: start;align-items: center;}
.header-bottomMenu .leftMenu li div{display:flex;justify-content: center;align-items: center;overflow:hidden;width:36px;height:36px;color:#fff;border-radius: 36px;}
.bottom-centerMenu a,.bottom-rightMenu a{height:34px;display: flex;justify-content: center;align-items: center;}
.header-bottomMenu .centerMenu,.header-bottomMenu .rightMenu{display:flex;flex-wrap:wrap;flex-direction:column;height:68px;flex:1}

.header-bottomMenu > div{display:flex;justify-content:space-between;align-items:center;margin:0 auto}
.bottomMenu-poppver{display:flex;flex-direction:column;flex-wrap:wrap;flex:0 0 auto;max-height: 150px;}
.bottomMenu-poppver a{color:#212121;display:block;padding:4px;font-size: 13px;height:36px}
.bottomMenu-poppver a:hover{color:#00a1d6}